<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All directors</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <table>
        <tr>
            <th>Name</th>
            <th>IMDB</th>
        </tr>

        <tr th:each="director : ${directors}">
            <td><a th:href="@{|movies/${director.id}|}" th:text="${director.name}"></a></td>
            <td><a th:href="@{|https://www.imdb.com/name/${director.imdb}|}" th:text="${director.imdb}"></a></td>
            <td>
                <form th:action="@{|directors/${director.id}|}" method="get">
                    <input type="submit" value="delete" />
                </form>
            </td>
        </tr>
        <tr>
            <form action="directors" method="post">
                <td><input type="text" name="name" /></td>
                <td><input type="text" name="imdb" /></td>
                <td><input type="submit" value="add" /></td>
            </form>
        </tr>
    </table>

</body>
</html>