<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${director.name}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <a href="/directors">All directors</a><br>
    Directed by <span th:text="${director.name}"></span>
    <table>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>IMDB</th>
        </tr>

        <tr th:each="movie : ${movies}">
            <td th:text="${movie.name}"></td>
            <td th:text="${movie.year}"></td>
            <td><a th:href="@{|https://www.imdb.com/title/${movie.imdb}|}" th:text="${movie.imdb}"></a></td>
            <td>
                <form th:action="@{|/movies/${director.id}/${movie.id}|}" method="get">
                    <input type="submit" value="delete" />
                </form>
            </td>
        </tr>
        <tr>
            <form th:action="@{|/movies/${director.id}|}" method="post">
                <td><input type="text" name="name" /></td>
                <td><input type="number" name="year" required /></td>
                <td><input type="text" name="imdb" /></td>
                <td><input type="submit" value="add" /></td>
            </form>
        </tr>

    </table>
</body>
</html>